body{
  padding: 5%;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}

header h1,
header nav {
  display: inline-block;
  vertical-align: middle;
}

nav{
  margin-left: 10%;
}

nav a {
    color: green;
    text-decoration: none;
    margin: 10px
}

main h1{
  font-weight: normal;
  display: inline-flex;
  align-items: baseline;
}

h1 .number {
  font-size: 0.7em;
  vertical-align: baseline;
  margin-left: 0.2em;
}