body {
    background-color: rgb(237, 237, 237);
    color: rgb(50, 50, 50);
    font-family: Arial, sans-serif;
    padding: 20px;
}

article {
    max-width: 65%;
    margin: auto;
}

img {
    max-width: 55%;
}

header, section, footer {
    padding: 10px;
    margin: 10px 0;
}